# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.d
*.dSYM
*.gcda
*.gcno
*.gcov
*.l[ao]
*.pyc
*.tcov
*~
.deps
/.libs/
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/version.m4
/missing
/mkinstalldirs
/stamp-h1
/testapp
/version.num
Makefile
Makefile.in
TAGS
cscope.out
tags
