# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.gcda
*.gcno
*.gcov
*.tcov
*~
.deps
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/version.m4
/missing
/mkinstalldirs
/stamp-h1
/version.num
Makefile
Makefile.in
TAGS
cscope.out
tags
*.l[ao]
/libtool
/.libs/
/testapp
*.dSYM
